.la_page-wrapper {
    --header-height: 3.5rem;
    --sidebar-width: 18rem;
    --main-content-padding: 1rem;

    position: relative;
    min-height: 100vh;
    padding-top: calc(var(--header-height) + var(--main-content-padding));
    padding-right: var(--main-content-padding);
    padding-bottom: var(--main-content-padding);
    padding-left: var(--main-content-padding);
    background: var(--color-lighter-gray);

    @include for-tablet-portrait-up {
        padding-left: calc(var(--sidebar-width) + var(--main-content-padding));
    }

    .la_main-header {
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--header-height);
        background: white;
        z-index: 300;

        & .header-button {
            display: grid;
            place-content: center;
            height: 100%;
            min-width: var(--header-height);
            background: transparent;
            border: none;
            appearance: none;
        }

        .mobile-nav-toggle {
            height: 100%;
            min-width: var(--header-height);
            font-size: 1.2rem;

            @include for-tablet-portrait-up {
                display: none;
            }
        }

        .header-logo {
            display: grid;
            place-content: center;
            height: 100%;
            width: var(--sidebar-width);
        }

        .search-bar {
            height: 100%;

            form {
                height: 100%;
                padding: 0.75rem 0;
            }

            input {
                height: 100%;
                width: 12rem;
                border: none;
                border-bottom: 2px solid #d5d5d5;
                padding: 0.25rem 0.5rem;
                border-radius: 0;
            }
        }

        .center-divider {
            width: 1px;
            margin: 0 auto;
        }
    }

        //.application-logo {
        //    height: 100%;
        //
        //    img {
        //        // This variable allows the height of the logo to be set
        //        --logo-percentage: 40;
        //        @include for-tablet-portrait-up {
        //            --logo-percentage: 55;
        //        }
        //
        //        // These are calculated on the fly, DON'T alter these values
        //        --max-height: calc((var(--header-height) / 100) * var(--logo-percentage));
        //        --top-margin: calc((var(--header-height) - var(--max-height)) / 2);
        //        --left-margin: var(--top-margin);
        //
        //        max-height: var(--max-height);
        //        margin-top: var(--top-margin);
        //        margin-left: var(--left-margin);
        //    }
        //}

    .la_main-sidebar {
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: var(--sidebar-width);
        height: calc(100vh - var(--header-height));
        background: var(--color-dark-gray);
        box-shadow: 0 0 6px rgba(12 14 18 / 0.5);
        z-index: 200;
        color: white;
        transition: 0.3s ease all;

        @include for-tablet-portrait-up {
            left: 0;
            transition: none;
        }
    }

    &.nav-open .la_main-sidebar {
        left: 0;
    }
}

.menu-bars-icon {
    --bar-height: 2px;
    --space-between: 4px;
    --bar-width: 1.25rem;
    --bar-border-radius: 1px;
    --bar-color: #3c3c3c;

    display: block;
    position: relative;
    background: var(--bar-color);
    transition: 0.25s ease background 0.25s;

    &, &::before, &::after {
        content: '';
        display: block;
        height: var(--bar-height);
        width: var(--bar-width);
        background: var(--bar-color);
        border-radius: var(--bar-border-radius);
        transform-origin: center center;
    }

    &::before {
        top: calc((var(--bar-height) + var(--space-between)) * -1);
    }

    &::after {
        top: calc(var(--bar-height) + var(--space-between));
    }

    &::before, &::after {
        position: absolute;
        transition: 0.25s ease transform, 0.25s ease top 0.25s;
    }

    // Cross animation
    &.close-icon {
        background: transparent;
        transition: 0.25s ease background;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &::before, &::after {
            top: 0;
            transition: 0.25s ease top, 0.25s ease transform 0.25s;
        }
    }
}