.la_page-wrapper {
    // The padding here dictates the area of the main content. This is to ensure
    // that scroll position within the main content section is maintained on page
    // refreshing
    --padding-top: calc(var(--main-header-height) + var(--main-content-padding));
    --padding-right: var(--main-content-padding);
    --padding-bottom: var(--main-content-padding);
    --padding-left: var(--main-content-padding);

    position: relative;
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    min-height: 100vh;
    background: var(--main-content-background);

    @include for-tablet-portrait-up {
        padding-left: calc(var(--main-sidebar-width) + var(--main-content-padding));
    }

    .la_main-header {
        position: fixed;
        display: flex;
        align-items: stretch;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--main-header-height);
        background: var(--main-header-background);
        z-index: 10;

        & .header-button {
            display: grid;
            place-content: center;
            height: 100%;
            min-width: var(--main-header-height);
            padding: 0 var(--main-header-button-x-padding);
            background: transparent; // TODO: Variables for these...
            border: none;
            appearance: none;
        }

        .mobile-nav-toggle {
            height: 100%;
            min-width: var(--main-header-height);
            font-size: 1.2rem;

            @include for-tablet-portrait-up {
                display: none;
            }
        }

        .header-logo {
            display: grid;
            place-content: center;
            height: 100%;
            width: 100%;

            @include for-tablet-portrait-up {
                width: var(--main-sidebar-width);
            }
        }

        .search-bar {
            display: none;
            height: 100%;

            @include for-tablet-portrait-up {
                display: block;
            }

            form {
                height: 100%;
                padding: 0.75rem 0;
            }

            input {
                height: 100%;
                width: 12rem;
                border: none;
                border-bottom: 2px solid #d5d5d5;
                padding: 0.25rem 0.5rem;
                border-radius: 0;
            }
        }

        .center-divider {
            display: none;
            width: 1px;
            margin: 0 auto;

            @include for-tablet-portrait-up {
                display: block;
            }
        }

        .header-notifications {
            display: none;

            @include for-tablet-portrait-up {
                display: block;
            }
        }

        .account-dropdown {
            .header-button {
                display: flex;
                align-items: center;
            }

            .user-name {
                display: none;
            }

            @include for-tablet-portrait-up {
                .user-name {
                    display: inline;
                }

                .user-icon {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .la_main-sidebar {
        position: fixed;
        top: var(--main-header-height);
        left: -100%;
        width: var(--main-sidebar-width);
        height: calc(100vh - var(--main-header-height));
        background: var(--main-sidebar-background);
        box-shadow: 0 0 6px rgba(12 14 18 / 0.5);
        z-index: 5;
        color: white;
        transition: 0.3s ease all;

        @include for-tablet-portrait-up {
            left: 0;
            transition: none;
        }
    }

    &.nav-open .la_main-sidebar {
        left: 0;
    }

    .la_main-content {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - var(--main-header-height) - (var(--main-content-padding) * 2));
    }

    .la_content-footer {
        margin-block-start: auto;
        text-align: center;
        padding: 1rem 0 0.5rem 0;
        font-size: 0.7rem;
        opacity: 0.8;
    }
}