:root {
    /* -----------------------------
        Header
    ----------------------------- */

    /* Defines the height of the main header */
    --main-header-height: 3.5rem;

    /* Defines the background colour of the main header */
    --main-header-background: white;

    /* Sets the horizontal padding on any header buttons */
    --main-header-button-x-padding: 1rem;

    /* -----------------------------
        Main Sidebar
    ----------------------------- */

    --main-sidebar-width: 18rem;

    /* Sets the background colour of the main sidebar */
    --main-sidebar-background: #363e54;

    /* -----------------------------
        Main Content Section
    ----------------------------- */

    --main-content-padding: 1rem;
    --main-content-background: var(--color-lighter-gray);
}